* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -----------------------main------------------- */
.main {
  width: 100%;
  height: 590px;
  background-color: black;
  background-image: url(image/Put\ Your\ Image.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}
.main2 {
  /* width: 500px; */
  background-color: #aba0a0;
  opacity: 0.5;
  height: 150px;
  display: flex;
}
.logo {
  width: 30%;
  display: flex;
  margin-top: 30px;
  margin-left: 40px;
}
.l1 {
  width: 52px;
  height: 52px;
  background-color: #f4f5f9;
  color: #4a4c55;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l2 {
  width: 99px;
  height: 52px;
  background-color: #000000;
  border: 3px solid #f4f5f9;
  color: #f1ebe7;
  font-weight: 300;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* --------------------menu----------------- */
.menu {
  width: 70%;
  height: 70px;
  display: flex;
  margin-top: 40px;
}
.m1 a {
  color: red;
}
.m1 {
  margin-left: 20px;
}
/* ----------------------middle----------------------- */
.mid {
  opacity: 0.5;
  background-color: #aba0a0;
  position: relative;
  width: 100%;
  height: 440px;
  display: flex;
}
.midium {
  position: relative;
  top:200;
  z-index: 1;
  width: 60%;
  height: inherit;
}
.p1 {
 font-size: 24px;
letter-spacing: 1px;
color: #f4f5f9;
font-weight: 400;
font-family: "Source Sans Pro";
text-align: center;
}
.p2 {
  font-size: 55px;
  letter-spacing: 7px;
  color: #f4f5f9;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: center;
  padding-top: 10px;
}
.p3 {
  width: 600px;
  height: 122px;
  font-size: 14px;
  line-height: 24px;
  color: #cbc6c0;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  padding-left: 77px;
  padding-top: 10px;
}
.pre {
  width: 20%;
  height: inherit;
  padding-left: 55px;
}    
 /*---------next-----------------------  */
.next{
  width: 20%;
  height: inherit;
  padding-left: 136px
}
.btn {
  display: flex;
  margin-left: 74px;
}
.button1 {
  width: 225px;
  height: 56px;
  border-radius: 3px;
  filter: drop-shadow(-1.732px 1px 2.5px rgba(0, 0, 0, 0.25));
  background-color: #e74c3c;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.button2 {
  width: 225px;
  height: 52px;
  background-color: #303030;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
/* -----------------------------circle----------------------------- */
.circle {
  opacity: 0.251;
  width: 74px;
  height: 74px;
  border-radius: 37px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content:center ;
}
.c1 {
  position: absolute;
  z-index: 2;  
  top:548px;
  left: 646px;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background-color: #f4f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img
{
height: 20px;
width: 20px;
background-image: url(image/Forma\ 1.png);
background-repeat: no-repeat;
background-size: contain;
}
/* -----second page----- */
.middle
{
width: 100%;
height: 500px;
padding-left: 127px;
background-color: #ffffff;
display: flex;
align-items: center;
justify-content: center; 
}
.one
{
/* height: 500px; */
width: 20%;
}
#one{
  width: 240px;
}
.img1
{
height: 61px;
width: 65px;
background-image:url(image/1.png);
background-repeat:no-repeat;
background-size:contain;
margin-left:6px;
}
.para1
{
font-size: 18px;
letter-spacing:1px;
text-transform: uppercase;
/* color: #e74c3c; */
color: black;
font-weight:600;
font-family:"Open Sans";
padding-top: 10px;
padding-left: 0px;
}
#para1{
    color: red;
}
.line{
 width: 144px;
height: 0px;
background-color: #f4f5f9;
border: 3px solid #6a6a6a;
}
.para2
{
width: 245px;
height: 70px;
font-size: 12px;
letter-spacing: 1px;
line-height: 20px;
color: #999999;
font-weight: 300;
font-family: "Source Sans Pro";
/* text-align: center; */
padding-top: 45px;
padding-left: -12px;
padding-right: 53px;
}
#para5{
  padding-right: 20px;
  padding-right: 53px;
    
}
.img3
{
height: 61px;
width: 65px;
background-image:url(image/png-clipart-international-year-of-light-nics-sat-red-bulb-electronics-bulbs.png);
background-repeat:no-repeat;
background-size:contain;
margin-left: 26px;
}
.img4
{
height: 61px;
width: 65px;
font-size: 40px;
padding-top: 20px;
margin-left: 21px;
}
#para2{
    padding-left: 3px;
}
.img2
{
height: 61px;
width: 65px;
background-image:url(image/icone-de-coeur-rouge.png);
background-repeat:no-repeat;
background-size:contain;
margin-left: 2px;
}
.sq{
    height: 90px;
    width: 90px;
    border-style: solid;
    border-color: rgb(3, 12, 3);
    display: flex;
    align-items: center;
    justify-content: center;
     margin-left: 20px;
    /* background-color: red */
}


