*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/* -----------header-------- */
.main
{
opacity:0.749;
width:100%;
height: 422px;
/* background-color: #0a0909; */
background-image: url(image/Put\ Your\ Image.png);
background-repeat: no-repeat;
background-size: contain;
}
.m1 div{
width: 504px;
height: 101px;
font-size: 14px;
line-height: 29px;
color: #f4f5f9;
font-weight: 400;
font-family: "Open Sans";
}
.m2
{
font-size: 36px;
letter-spacing: 4px;
color: #ffffff;
font-weight: 700;
font-family: "Source Sans Pro";
display: flex;
align-items: center;
justify-content: center;
padding-top: 30px;
}
.m1
{
   display: flex;
   align-items: center;
   justify-content: center;
   padding-left: 236px;
}
/* --------line------- */
.line
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.line1{
  height: 2px;
  width: 82px;
  background-color: azure;
 margin-left: 8px;
}
#line11{
    margin-right:5px;
}
.circle
{
    width: 7px;
    height: 7px;
    border-radius: 4px;
    background-color: #e74c3c;
}
/* --------second part------------ */
.main2
{   
height: 365px;
width: 100%;
padding-top: 100px;
margin-top: -99px;
background-image: url(image/Shape\ 174\ copy.png);
background-repeat: no-repeat;
background-size: contain;
display: flex;
align-items: center;
justify-content: center;
color: white;
}
.p1{
font-size: 24px;
letter-spacing: 2px;
text-transform: uppercase;
color: #e74c3c;
font-weight: 600;
font-family: "Open Sans";
padding-top: 107px;
margin-left: -813px;
}
.p2{
padding-top: 10px;
margin-left: -813px;
}
/* ------logo------ */
.logo
{
width: 100%;
display: flex;
}
.l1
{
width: 57px;
height: 56px;
border-radius: 28px;
background-color: #e74c3c;
display: flex;
align-items: center;
justify-content: center;
margin-top: -32px;
margin-left: 144px;
}
.l12
{
width: 51px;
height: 50px;
border-radius: 25px;
background-color: #0b0c0b;
opacity: 0.502;
padding-left: 10px;
background-image: url(image/b1.png);
background-repeat: no-repeat;
background-size: contain;
}
.l2{
width: 88px;
height: 86px;
border-radius: 43px;
filter: drop-shadow(-4.33px 2.5px 7.5px #000000);
background-color: #e74c3c;
display: flex;
align-items: center;
justify-content: center;
margin-left: 196px;
margin-top: -86px;
}
.l122
{
width: 78px;
height: 76px;
border-radius: 38px;
opacity: 0.502;
background-color: #f4f5f9;
background-image: url(image/b2\ \(2\).png);
background-repeat: no-repeat;
background-size: contain;
}
.l3{
margin-left: 180px;
margin-top: -53px;
}
.l31
{
 width: 57px;
height: 56px;
border-radius: 28px;
background-color: #e74c3c;
display: flex;
align-items: center;
justify-content: center;
}
.l32{
width: 51px;
height: 50px;
border-radius: 25px;
opacity: 0.502;
background-color: #0b0c0b;
background-image: url(image/b3.png);
background-repeat: no-repeat;
background-size: contain;
}
.l4
{
margin-top: -166px;
margin-left: 265px;
}
/* ------line--------- */
.line2{
transform: translate(-637px, 41px);
opacity: 0.749;
width: 1px;
height: 40px;
background-color: #45576e;
border: 1px solid #ffffff;
margin-top: -66px;
}
/* -----content----- */
.l41
{
width: 57px;
height: 56px;
border-radius: 28px;
background-color: #e74c3c;
display: flex;
align-items: center;
justify-content: center;
}
.l42
{
opacity: 0.502;
width: 51px;
height: 50px;
border-radius: 25px;
background-color: #0b0c0b;
background-image: url(image/b4.png);
background-repeat: no-repeat;
background-size: contain;
}
